html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-img.svg);
  background-repeat: no-repeat;
  background-position: calc(0% + 750px) calc(0% - 250px);
}

.img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

main {
  flex-grow: 1;
}