.secondary-div {
  background: #EEF2F5;
}
.start-column {
  background: linear-gradient(175.93deg, #5F00D8 -10.23%, #B200F1 117.03%);
}
.other-class {
  background-color: rgba(238, 242, 245, 0.4);
}
.end-box {
  margin-top: 100px;
}